#profile {
	background-image: URL(../Pics/Profile.jpg);
	height: 13em;
	width: 20em;
	z-index: 1;
	background-size: 100%;
	background-position: 0;
	position: relative;
	top:3em;
}
#title {
	position: absolute;
	top:3em;
	background-color: #212121;
	opacity:.7;
	width: 100%;
	color: white;
	padding: 1em;
}
#links {
	position: relative;
	left:0em;
	top:2em;
	background-color: #212121;
	opacity:.7;
	width: 18em;
	color: white;
	padding: 1em;
}
.body{
	position: absolute;
	top:10em;
	background-color: #212121;
	opacity:.7;
	width: 100%;
	color: white;
	padding: 1em;
}



h1 {
	text-align: center;
	text-decoration: underline;
}
h3{
	text-decoration: underline;
}
