a {
	color:#ffffff;
	text-decoration: none;
}
#background {
	position: fixed;
	height:100%;
	width:100%;
	background-image: URL(../Pics/IMG_2936.jpg);
	background-size: 100%;
	left:0;
	top:0;
	background-position: 0;
}
.topbutton {
	width:33%;
	height:2em;
	display: inline-block;
	border:2px;
	text-align: center;
}
#topnav {
	background-color: #212121;
	position:fixed;
	width:100%;
	height: 2em;
	display: inline-block;
	top:0;
	left:0;
	z-index: 1
}